body, html {
    height: 100%;
    background-image: url("../img/GOODWEATHER.png");
    margin: 0;
    padding: 0;
}

.active-white-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff;
}
.active-white input[type=text] {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    color: #fff;
}
#carte{
    height: 500px;
}

#geolo{

    height: 50px;
}
